<h1>Listing tips</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Avatar</th>
      <th>Title</th>
      <th>Description</th>
      <% if is_admin? %>
          <th></th>
          <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.username %></td>
        <td><%= image_tag tip.avatar %></td>
        <td><%= tip.title %></td>
        <td><%= truncate_html(tip.description) %><br/><%= link_to 'Read More', tip %></td>
        <% if is_admin? %>
            <td><%= link_to 'Edit', edit_tip_path(tip) %></td>
            <td><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if is_admin? %>
<%= link_to 'New Tip', new_tip_path %>
<% end %>
