<p id="notice"><%= notice %></p>
<div class="innerContainer">
    <figure>
      <%= image_tag @user.avatar %>
      <figcaption><%= @user.user_name %></figcaption>
    </figure>

    <article class="tipsArticle">
        <p>
          <strong>Title:</strong>
          <%= @tip.title %>
        </p>

        <p>
          <strong>Description:</strong>
          <%= @tip.description.html_safe %>
        </p>
    </article>
    <div class="clearfix"></div>

    <div class="tipsCode">
      <strong>Code:</strong>
      <%= @tip.code.html_safe %>
    </div>

    <div class="links">
        <% if is_admin? %>
            <%= link_to 'Edit', edit_tip_path(@tip) %> |
        <% end %>
        <%= link_to 'Back', tips_path %>
    </div>
</div>
