<br>

<h1> Enjoy the tour!</h1>

<div class="rotator">

  <!--image for slideshow is displayed here -->
  <ul>
    <li><%= image_tag("tour/tour1.jpg") %></li>
    <li><%= image_tag("tour/tour2.jpg") %></li>
    <li><%= image_tag("tour/tour3.jpg") %></li>
    <li><%= image_tag("tour/tour4.jpg") %></li>
    <li><%= image_tag("tour/tour5.jpg") %></li>
    <li><%= image_tag("tour/tour6.jpg") %></li>
    <li><%= image_tag("tour/tour7.jpg") %></li>
  </ul>
  <!--<a href="#" id="prev_tour">Previous Slide</a>&nbsp;-->

  <!--<a href="#" id="next_tour">Next Slide</a>&nbsp;-->

</div>