<p id="notice"><%= notice %></p>
<div class="innerContainer">
  <figure>
    <%#= image_tag @user.avatar %>
    <figcaption><%= @user.user_name %></figcaption>
  </figure>

  <article class="tipsArticle">
    <p>
      <strong>Title:</strong>
      <%= @story.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @story.description.html_safe %>
    </p>
  </article>
  <div class="clearfix"></div>

  <div class="tipsCode">
    <strong>Story:</strong>
    <%= @story.code.html_safe %>
  </div>

  <div class="links">
    <% if is_admin? %>
        <%= link_to 'Edit', edit_story_path(@story) %> |
    <% end %>
    <%= link_to 'Back', stories_path %>
  </div>
</div>
