<h3>Languages:</h3>
<hr>
<%= link_to("HTML/CSS Responsive", forums_html_path)%>
<%=link_to("Visual Basic", forums_vb_path)%>
<%=link_to("C#", forums_cs_path)%>
<%=link_to("ASP", forums_asp_path)%>
<%=link_to("Ruby", forums_rb_path)%>
<%=link_to("Ruby on Rails", forums_rails_path)%>
<%=link_to("PHP", forums_php_path)%>
<%=link_to("Java", forums_java_path)%>
<%=link_to("JavaScript", forums_js_path)%>
<%=link_to("jQuery", forums_jq_path)%>
<%=link_to("Mobile Development", forums_mobile_path)%>