<h3>Languages:</h3>
<hr>
<%= link_to("HTML/CSS", htmlcss_forums_path)%>
<%= link_to("Responsive", responsive_forums_path)%>
<%=link_to("Visual Basic", vb_forums_path)%>
<%=link_to("C#", csharp_forums_path)%>
<%=link_to("ASP", asp_forums_path)%>
<%=link_to("Ruby", rb_forums_path)%>
<%=link_to("Ruby on Rails", rails_forums_path)%>
<%=link_to("PHP", php_forums_path)%>
<%=link_to("JavaScript", js_forums_path)%>
<%=link_to("jQuery", jq_forums_path)%>
<%=link_to("Mobile Development", mobile_forums_path)%>