<h3>Languages:</h3>
<hr>
<%= link_to("HTML/CSS/Responsive", forums_html_path)%><br>
<%=link_to("Visual Basic", forums_vb_path)%><br>
<%=link_to("C#", forums_cs_path)%><br>
<%=link_to("ASP", forums_asp_path)%><br>
<%=link_to("Ruby", forums_rb_path)%><br>
<%=link_to("Ruby on Rails", forums_rails_path)%><br>
<%=link_to("PHP", forums_php_path)%><br>
<%=link_to("Java", forums_java_path)%><br>
<%=link_to("JavaScript", forums_js_path)%><br>
<%=link_to("jQuery", forums_jq_path)%><br>
<%=link_to("Mobile Development", forums_mobile_path)%>