<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CodeSpork</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <script language="JavaScript1.2">

      var howOften = 5;
      var current = 0;
      var ns6 = document.getElementById&&!document.all;

      var items = new Array();
      items[0]="<a href='http://us.acer.com/ac/en/US/content/home'>Acer</a>";
      items[1]="<a href='http://www.hp.com/country/us/en/uc/welcome.html'>HP</a>";
      items[2]="<a href='https://www.apple.com/mac/'>Mac</a>";
      items[3]="<a href='http://msdn.microsoft.com/en-us/library/ms123401.aspx'>MSDN</a>";
      items[4]="<a href='http://www.apache.com/' >Apache</a>";
      items[5]="<a href='https://www.codeschool.com/'>CodeSchool</a>";


      function rotater() {
          document.getElementById("placeholder").innerHTML = items[current];
          current = (current==items.length-1) ? 0 : current + 1;
          setTimeout("rotater()",howOften*1000);
      }

      function rotater() {
          if(document.layers) {
              document.placeholderlayer.document.write(items[current]);
              document.placeholderlayer.document.close();
          }
          if(ns6)document.getElementById("placeholderdiv").innerHTML=items[current]
          if(document.all)
              placeholderdiv.innerHTML=items[current];

          current = (current==items.length-1) ? 0 : current + 1; //increment or reset
          setTimeout("rotater()",howOften*1000);
      }
      window.onload=rotater;
      //-->
  </script>
</head>
<body>
<div id="container">
<header class="headerBar">

 <%=image_tag("banner1.png", id: "head-banner")%>
</header>
<nav class="topNav">
  <%= render 'layouts/topNav' %>
</nav>
<nav class="sideNav">
  <%= render 'layouts/sideNav' %>
</nav>
<section class="mainContent">
  <%= yield %>
</section>

<aside class="rightAside">
  <h4 class="ads">Connect to Our Sponsors:</h4>
  <layer id="placeholderlayer"></layer> <div id="placeholderdiv"></div>
</aside>

<footer class="btmFooter">
  <%=image_tag("dry-humor-logo.jpg", class: "dry_logo", height: "75", width: "112")%>

</footer>

<%= javascript_include_tag "jquery-ui-1.10.4.custom.min" %>
<%= javascript_include_tag "main" %>
</div>
</body>
</html>
