<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>CodeSpork</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <link href="http://code.jquery.com/ui/1.9.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="container">
  <header class="headerBar">

    <%= image_tag("banner1.png", id: "head-banner") %>
  </header>
  <nav class="topNav">
    <%= render 'layouts/topNav' %>
  </nav>
  <nav class="sideNav">
    <%= render 'layouts/sideNav' %>
  </nav>
  <section class="mainContent">
    <%= yield %>
  </section>

  <aside class="rightAside">
    <h4 class="ads">Connect to Our Sponsors:</h4>

    <div class="rotator">
      <ul>
        <li class="show">
          <a href="http://us.acer.com/ac/en/US/content/home">
            <%= image_tag("ads/acer.jpg", size: "90x90", alt: "Acer") %>
          </a>


        </li>
        <li>
          <a href="http://www.apache.com/">
            <%= image_tag("ads/apache.jpg", size: "90x90", alt: "Apache") %>
          </a>


        </li>
        <li>
          <a href="https://www.codeschool.com/">
            <%= image_tag("ads/codeschool.jpg", size: "90x90", alt: "CodeSchool") %>
          </a>

        </li>
        <li>
          <a href="http://www.hp.com/country/us/en/hho/welcome.html">
            <%= image_tag("ads/hp.jpg", size:"90x90", alt: "HP") %>
          </a>

        </li>
        <li>
          <a href="https://www.apple.com/mac/">
            <%= image_tag("ads/mac.jpg", size: "90x90", alt: "Apple/Mac") %>
          </a>

        </li>
        <li>
          <a href="http://msdn.microsoft.com/en-us/library/ms123401.aspx">
            <%= image_tag("ads/microsoft.jpg", size: "90x90", alt: "MSDN") %>
          </a>

        </li>
        <li>
          <a href="http://www.codecademy.com/">
            <%= image_tag("ads/codeacademy.jpg", size: "90x90", alt: "Codecademy") %>
          </a>
        </li>
      </ul>
    </div>
  </aside>

  <footer class="btmFooter">
    <%= image_tag("dry-humor-logo.jpg", class: "dry_logo", height: "75", width: "112") %>
  </footer>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script>
    jQuery(function ($) {
        $("#tabs").tabs().addClass('ui-tabs-vertical ui-helper-clearfix');
        $(".accordion").accordion({collapsible: true, active: false});

<% if action_name == 'tour' %>
        var imgIndex = 0;
        var imgArray= [];
        for(var i=0; i<7; i++){
            var loadImage = new Image();
            loadImage.src= "tour/tour"+(i+1)+".jpg";
            imgArray.push(loadImage);

        }

//display the slide before the currently displayed slide
//Had some help cause I got all mixed up....
        function prev_slide(){
            if(imgIndex - 1 == -1){
                imgIndex = imgArray.length -1
            } else{
                imgIndex = imgIndex - 1;
            }
            document.getElementById("original").src=imgArray[imgIndex].src;
            return false;
        }

//#####################################

//display the slide after the current image

        function next_slide(){
            if(imgIndex + 1==imgArray.length){
                imgIndex=0;
            }else{
                imgIndex++
            }
            document.getElementById("original").src=imgArray[imgIndex].src;
            return false;
        }
<% end %>
    });
</script>
</body>
</html>
